@{
    ViewData["Title"] = "Home Page";
}
<div class="card">
    <div class="card-body">
        <h5 class="card-title mb-3">Pick a role to continue.</h5>
        <a asp-controller="Subscriber" asp-action="Index" class="btn btn-success card-link">Subscriber</a>
        <a asp-controller="Admin" asp-action="Index" class="btn btn-primary card-link">Admin</a>
    </div>
</div>
